{% extends 'base_dashboard_admin.html.twig' %}

{% block title %}Administrador del Sistema
{% endblock %}
{% block javascripts %}
	<script src="/assets/js/dashboard_admin_index.js"></script>
{% endblock %}

{% block body %}
	<div class="container">
		<div classes="row" style="margin:auto !important">
			<div class="col-12 col-md-12 col-lg-12" align='center'>
				<div class="card">
					<div class="card-header">
						<h5>Estatus Administrativo</h5>
					</div>
					<div class="card-body">
						<div id="piechart" align='center'></div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card">
					<div class="card-header">
						<h5>Clientes</h5>
					</div>
					<div class="card-body">
						<div id="clientes" align='center'></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
{% endblock %}
