{% extends 'base_dashboard_admin.html.twig' %}

{% block title %}Administrador del Sistema
{% endblock %}
{% block javascripts %}
	<script src="/assets/js/dashboard_admin_index.js"></script>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row centrado">
			<div class="col-12 col-md-12 col-lg-12" style="margin:auto !important">
				<div id="piechart"></div>
			</div>
		</div>
	</div>
{% endblock %}
